# Autodetect text files.
* text=auto

# Force the following filetypes to have Unix EOLs.
*.* text eol=lf

# Force the following filetypes to have Windows EOLs.
*.bat text eol=crlf
*.cmd text eol=crlf

# Force the following filetypes to be handled as binaries.
*.ai    binary
*.psd   binary
*.jpeg  binary
*.jpg   binary
*.png   binary
*.gif   binary
*.ico   binary
*.mov   binary
*.mp4   binary
*.mp3   binary
*.ogg   binary
*.flv   binary
*.fla   binary
*.swf   binary
*.rar   binary
*.zip   binary
*.gz    binary
*.7z    binary
*.ttf   binary
*.pdf   binary
*.exe   binary
*.pyc   binary
*.data  binary
*.woff2 binary
*.woff  binary
*.ttf   binary
*.otf   binary
*.eot   binary



# Ignore folders during deployment.
.github    export-ignore
.polygon   export-ignore
.wordpress export-ignore
.temporary export-ignore
temporary  export-ignore

# Ignore files during deployment.
.gitignore     export-ignore
.gitattributes export-ignore
prepros.config export-ignore
